{{define "menu"}}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>メニュー</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    {{ template "logout".  }}
    

    <form  action="/menu/top" method="post">
        <p>Todo</p> <input type="text" name="Todo" placeholder="Todo"/>
        <p><input class="btn btn-primary" type="submit" value="登録"/></p>
    </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">TODO</th>
            <th scope="col">EDIT</th>
            <th scope="col">SUCCESS</th>
          </tr>
        </thead>
        <tbody>
            {{range.Todo}}
            <tr>
             <th scope="row">{{.ID}}</th>
             <th scope="row">{{.Todo}}</th>
             <th scope="row"><label><a href="top/{{.ID}}">編集</a></label></th>
             <th scope="row">        <p><input  class="btn btn-primary" type="submit" value="完了"/></p></th>
             {{end}}
            </tr>
            
        </tbody>
    </table>
    

</body>
</html>
{{end}}