<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <Title>Signup Page</Title>
    </head>
    <body>
        <headder>
            <h2 class="h3 mt-2 mb-3 font-weight-normal">新規登録</h2>
        </headder>
        <form  action="/singup" method="post">
            <div class="mb-3">
                <span class="input-group-text" id="basic-addon1">Username</span>
                <input type="text" name ="name" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="password" name ="pass" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <p><input  class="btn btn-primary" type="submit" value="Submit"/></p>
        </form>
    </body>
</html>